<!DOCTYPE html>
<html>
    <head>
        <title>Cofi</title>
            <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="apple-mobile-web-app-status-bar-style" content="black" />
            <link rel="apple-touch-icon" href="{{static_url('assets/app-icon.png')}}"/>
            <link rel="apple-touch-startup-image" href="{{static_url('assets/app-homescreen.png')}}" /> 
            <link rel="stylesheet" type="text/css" href="{{static_url('css/cofi.css')}}"/>
            <script type = "text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
            <script type="text/javascript"
                   src="{{static_url('js/cofi.js')}}">
            </script>
            <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
           <script type="text/javascript"
               src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAaBTMLD9cn5lMR5qF9NGwumhWZOkxosBY&sensor=true">
           </script>
  </head>
  
  
  <body onload="start_cofi()">
      <!--Map-->
      <div data-role="page" data-theme="b" id="map" class="map_page">
          <div data-role="header" data-position="inline" data-mini="true">
            	<a href="#add" data-role="button" data-mini="true"
            	data-inline="true" class="ui-btn-right" data-theme="c" onclick="fs_search(); return false">+</a>
            	<h1>cofi</h1>
            	<a href="#" data-role="button" data-mini="true" id="refresh" onclick="refresh(); return false"
            	data-inline="true" class="ui-btn-left" data-theme="c">refresh</a>            	
            </div>
            <div data-role="content" class="map_content"> 
                    <div id="map_canvas"></div>
            </div>
      </div>      
      
      <!--Add Place-->
      <div data-role="page" id="add" data-theme="b">
          <div data-role="header" data-position="inline" data-fixed="true">
              <a href="#map" data-role="button" class="ui-btn-left" data-theme="c" 
              data-mini="true">map</a>
          	  <h1>Add a place</h1>
          	  <a href="#" data-role="button" data-mini="true" class="ui-btn-right" data-theme="c" 
          	        data-transition="slide" onclick="fs_search(); return false">search</a>
          </div>

          <div data-role="content">
              <ul data-role="listview" id="fs_list" data-inset="true" data-filter="true" data-filter-placeholder="e.g. The Ace Hotel"
                    data-theme="c" data-icon="none">
              </ul>
          </div>
      </div>
    
      <!--Review Place-->
       <div data-role="page" id="review" data-theme="b">
           <div data-role="header" data-position="inline" data-fixed="true">
           	  <a href="#add" data-role="button" class="ui-btn-left" data-mini="true" data-theme="c"
           	  onclick="add(); return false">places</a>
                      <h1 id="review_header"></h1>
            <a href="#map" data-role="button" class="ui-btn-right" data-mini="true" data-theme="c">map</a>
                      
           </div>
                
           <div data-role="content" >
               <form id="review_form">
                   <input type="hidden" id="review_place_id" name="" value="">
                       <fieldset data-role="controlgroup" data-type="horizontal" data-theme="c" data-mini="true">
                            <legend>Wifi:</legend>
                            <input type="radio" name="wifi" id="wifi_radio_2" value="2" class="radio_button" data-theme="c"/>
                            <label for="wifi_radio_2" data-theme="c">All day</label>
                            <input type="radio" name="wifi" id="wifi_radio_1" value="1" class="radio_button" data-theme="c"/>
                            <label for="wifi_radio_1" data-theme="c">Hourly</label>
                            <input type="radio" name="wifi" id="wifi_radio_0" value="0" class="radio_button" data-theme="c"/>
                            <label for="wifi_radio_0" data-theme="c">None</label>
                       </fieldset>
                       <fieldset data-role="controlgroup" data-type="horizontal" data-theme="c" data-mini="true">
                            <legend>Plugs:</legend>
                            <input type="radio" name="plugs" id="plugs_radio_1" value="1" class="radio_button" data-theme="c"/>
                            <label for="plugs_radio_1" data-theme="c">Yep</label>
                            <input type="radio" name="plugs" id="plugs_radio_0" value="0" class="radio_button" data-theme="c"/>
                            <label for="plugs_radio_0" data-theme="c">No</label>
                            <input type="radio" name="plugs" id="plugs_radio_-1" value="-1" class="radio_button" data-theme="c"/>
                            <label for="plugs_radio_-1" data-theme="c">Unsure</label>
                        </fieldset>
                        <fieldset data-role="controlgroup" data-type="horizontal" data-theme="c" data-mini="true">
                            <legend>Experience:</legend>
                            <input type="radio" name="exp" id="exp_radio_2" value="2" class="radio_button" data-theme="c"/>
                            <label for="exp_radio_2" data-theme="c">Great</label>
                            <input type="radio" name="exp" id="exp_radio_1" value="1" class="radio_button" data-theme="c"/>
                            <label for="exp_radio_1" data-theme="c">Good</label>
                            <input type="radio" name="exp" id="exp_radio_0" value="0" class="radio_button" data-theme="c"/>
                            <label for="exp_radio_0" data-theme="c">Bad</label>
                        </fieldset>
                        <a href="#" data-role="button" id="save_button" 
                        data-mini="true" data-theme="c" onclick="post_review(); return false">Save</a>
                </form>
           </div>
      
      </div>
  </body>
</html>

