<!DOCTYPE html> 
<html> 
	<head> 
	<title>Page Title</title> 
	
	<meta name="viewport" content="width=device-width, initial-scale=1"> 

	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css" />
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>
</head> 
<body> 

    <!-- Start of first page -->
    <div data-role="page" id="map">
        <div>
        <a href="#add" data-role="button" data-inline="true" data-transition="slide"
        data-theme="b">+</a>
        </div>
    </div><!-- /page -->


    <!-- Start of second page -->
    <div data-role="page" id="add">
    	<a href="#map" data-role="button" data-inline="true" data-transition="pop"
    	data-theme="b">Map</a>
    </div><!-- /page -->

</body>
</html>